<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>City: <%= @event.location %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Activity: <%= @event.name %></p>
    <p>Start date and time: &nbsp &nbsp <%= @event.starts_at %> hours</p>
    <p>End date and time: &nbsp &nbsp <%= @event.ends_at %> hours</p>
    <p>Maximum number of people: &nbsp <%= @event.capacity %></p>


    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Amenities -->
    <h4>Details</h4>
    <ul class="amenities">
      <li><%= !@event.includes_food ? ("<s>Food</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Drinks</del>").html_safe : "Drinks" %></li>
    </ul>

    <h4>Categories</h4>
    <% @categories.each do |category| %>
    <span class="label-success"> <%= category.name %></span>
    <% end %>

  <h4>Price: <%= @event.price %></h4>

  <%= link_to "Edit", edit_event_path, class: "btn btn-primary" %>

  </div>
</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
